{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Редактирование комментария</h1>

    {{ form(edit_form) }}
    <a href="{{ path('story_show', {'id':storyid}) }}">
        Назад к задаче
    </a>
    {{ form(delete_form) }}
{% endblock %}
