{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Редактирование</h1>

    {{ form(edit_form) }}
    <a href="{{ path('story') }}">
       К списку задач
    </a>
    {{ form(delete_form) }}

{% endblock %}
