{% for entity in entities %}
    <div>
        <a href="{{ path('story_show', { 'id': entity.id }) }}"><span>{{ entity.title }}</span><span>{{ entity.state }}</span></a>
        <a href="{{ path('story_edit', { 'id': entity.id }) }}">изменить</a>
    </div>
{% endfor %}