{% extends '::base.html.twig' %}

{% block body -%}

    {% javascripts
        '@TesttrackBundle/Resources/public/js/jquery-1.10.2.min.js'
        '@TesttrackBundle/Resources/public/js/states.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}

    Здравствуй, {{ username }} <a href="{{ path("logout") }}">Выход?</a>
    <h1>Список задач</h1>
    <a href="{{ path('story_new') }}">
        новая задача
    </a>
    <br>
        пользователи:
    <select id="users">
        <option data-id="0">Все</option>
        {% for user in users %}
        <option data-id="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>
        состояние:
    <select id="states">
        <option>Все</option>
        {% for state in states %}
        <option>{{ state }}</option>
        {% endfor %}
    </select>

    <div id="entities" url="{{ path('story_get') }}">
    {% for entity in entities %}
        <div>
            <a href="{{ path('story_show', { 'id': entity.id }) }}"><span>{{ entity.title }} </span><span>{{ entity.state }}</span></a>
        </div>
    {% endfor %}
    </div>

{% endblock %}
