{% extends '::base.html.twig' %}

{% block body -%}
    заголовок: <span>{{ entity.title }}</span>
    состояние: <span>{{ entity.state }}</span>
    <div>описание: {{ entity.description }}</div>
    <a href="{{ path('story_edit', { 'id': entity.id }) }}">
        редактировать
    </a>
    <br>
     <a href="{{ path('story') }}">
        к списку задач
     </a>

    {{ form(delete_form) }}

    <h5>Комментарии</h5>
    {% for centity in commententities %}
        <div>{{ centity.text }}
            <a href="{{ path('storycomment_edit', { 'storyid': entity.id, 'id': centity.id }) }}">редактировать</a>
        </div>
    {% endfor %}

    <a href="{{ path('storycomment_new', { 'storyid': entity.id}) }}">Добавить комментарий</a>


{% endblock %}
